body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #0D0D0D;
}
h1 {
    color: #39FF14;
}
h3, p{
    color: #b2b2b2;
}
a {
    padding: 10px;
    text-decoration: none;
    border: 1px solid  red;
    background-color: red;
    border-radius: 10px;
    color: white;
    margin-bottom: 10px;
    
}
a:hover {
    border-color: #39FF14;
    background-color: #39FF14;
    color: black;

}
.playlist-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}
.playlist-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 12px;
    width: 200px;
    text-align: center;
    background-color: #1E1E1E;
}
.playlist-item img {
    margin-top: 10px;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.playlist-item:hover {
  border-color: #39FF14;
  background-color: #2A2A2A;
}

.btn{
    padding: 15px;
    border: 1px solid  red;
    background-color: red;
    border-radius: 10px;
    color: white;

}
.btn:hover{
    color: black;
}

.login-container{
    display: flex;
    flex-direction: column;

}
